name: Manual Tests (on demand)

on:
  workflow_dispatch:
    inputs:
      ref:
        description: "Branch/tag/SHA to test (leave blank to use selected branch)"
        required: false
        type: string
      bun_version:
        description: "Bun version"
        required: false
        default: "latest"
        type: string
      command:
        description: "Command to run"
        required: false
        default: "bun test"
        type: string


jobs:
  tests:
    uses: ./.github/workflows/_tests.yml
    with:
      ref: ${{ inputs.ref }}
      bun_version: ${{ inputs.bun_version }}
      command: ${{ inputs.command }}
